
body{
    display: flex;
    justify-content: center;
    background-color:  hsl(216, 54%, 11%);
    align-items: center;
    
   
}
.card-wrapper{
   display: flex;
   justify-content: center;
   width: fit-content;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
    width: 285px;
    height: 500px;
    border-style: solid;
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;
    box-shadow: 0px 0px 10px  hsl(217, 78%, 5%), 0px 0px 10px hsl(216, 50%, 16%),0px 0px 10px hsl(217, 78%, 5%), 0px 0px 10px  hsl(220, 55%, 22%);
}
.header{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 7%;
}
.header img{
    width: 100%;
    border-radius: 7%;
}
.content{
    margin-bottom: auto;
    
}
.content h3{
   color:  hsl(0, 0%, 100%);
   font-family: 'Outfit',sans-serif; 
   margin-left: 1rem;
}
.content p{
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit',sans-serif; 
    margin-left: 1rem;
    font-size: 15px;
}
.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0%;
}
.eth-icon{
    display: flex;
    margin-left: 5%;
    
}
.eth-icon svg{
    margin-right: 4px;
}
.eth-icon p{
    margin-top: 0%;
    margin-left: 0%;
    color:#00FFF8 ;
    font-family:'Outfit',sans-serif; 
    font-size: 12px;
    font-weight: 600;
}
.duration{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}
.duration svg{
    margin-top: 0px;
    margin-right: 3px;
}
.duration p{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 1rem;
    color: hsl(215, 51%, 70%);
    font-family:'Outfit',sans-serif;
    font-size: 12px;
    font-weight: 600;
}

hr{ 
    height: 1%;
    width: 90%;
    border: 0.25px solid hsl(215, 51%, 70%);
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:100%;
}
.user-img{
    margin-left: 5%;
    margin-top: 3%;
}
.user-img img{
    margin-left: 0%;
    width: 30px;
    height: 30px;
    border: 1px;
    border-style: solid;
    color: white;
    border-radius: 50%;
}
.footer-p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 10px;
}
.creation{
    font-family:'Outfit',sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: hsl(215, 51%, 70%);
}
.name{
    font-family:'Outfit',sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    color:#f7fcfc
}